img{
    position: inline;
    width: 500px;
    height: 300px;
    border-radius: 50%;
}
.flip-card{
    display: inline-block;
}
.body{
    background-color: aquamarine;
    text-align: center;
}
h1{
    text-align: center;
}
li a {
    display:block;
    color: wheat;
    text-align: center;
    padding: 14px 18px;
    text-decoration:none;
    background-color: black;
    
}
}
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: rgb(20, 41, 41);
}
li {
    float: left;
}